<div class="row">
  <div class="col-3" , style ='margin:10px'>
    <div class="card">
      <%=image_tag "/img/#{@homework.photo}", class:'image-fluid', style:'width:200px' %>
      <div class="body">
        <h5><%= @homework.name%></h5>
      </div>
    </div>
  </div>
</div>